.aboutMe {
    background-color: rgb(82, 57, 25);
    padding: 100px;
    color: white;
}

h2 {
    width: 80%;
    margin: 5vh auto;
    text-align: center  ;
}

#me {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    float: left;
}

p {
    margin: 11vh auto;
    margin-right: 25px;
}


