nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../public/assets/images/bg1.jpeg);
  background-size: 100% 8vh;
  color: white;
}

nav button {
  margin-right: 20px;
  background-color: rgb(171, 142, 198);
  color: white;
  border-radius: 8px;
}